@model MunTea.Models.ChucVu

@{
    ViewBag.Title = "Sua";
    Layout = "~/Views/Shared/khungTrangQuanLy.cshtml";
}

<h2 style="text-align:center;color:beige;">Sửa chức vụ</h2>

@using (Html.BeginForm()) {
    <form>
        <h4 style="color:beige">Chức vụ</h4>

        <div class="form-group" style="color:beige">
            <label for="mymachucvu" style="color:beige">Mã chức vụ</label>
            <input type="number" class="form-control" value="@Model.MaChucVu" name="MaChucVu" id="mymachucvu" placeholder="Mã chức vụ">
        </div>
        <div class="form-group" style="color:beige">
            <label for="mytenchucvu" style="color:beige">Tên chức vụ</label>
            <input type="text" class="form-control" value="@Model.TenChucVu" name="TenChucVu" id="mytenchucvu" placeholder="Tên chức vụ">
        </div>
        @if (ViewBag.thongbao != null)
        {
            <p style="color:red">*@ViewBag.thongbao</p>
        }
        <p>
            <input type="submit" value="Lưu" class="btn btn-success" />
        </p>
    </form>
}

<div>
    @Html.ActionLink("Trở về", "HienDanhSach", "ChucVu", new { @class = "btn btn-primary" })
</div>
