@model MunTea.Models.ChucVu

@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/khungTrangQuanLy.cshtml";
}

<h2 style="text-align:center;color:beige;">Thêm chức vụ</h2>

@using (Html.BeginForm()) {

    <form>
        <h4 style="color:beige">Chức vụ</h4>

        <div class="form-group" style="color:beige">
            <label for="mytenchucvu" style="color:beige">Tên chức vụ</label>
            <input type="text" class="form-control" name="TenChucVu" id="mytenchucvu" placeholder="Tên chức vụ">
        </div>
        @if (ViewBag.thongbao != null)
        {
            <p style="color:red">*@ViewBag.thongbao</p>
        }
        <p>
            <button type="submit" class="btn btn-success">Thêm mới</button>
        </p>
    </form>
}

<div>
    @Html.ActionLink("Trở về", "HienDanhSach", "ChucVu",new { @class = "btn btn-primary" })
</div>
